---
import { config } from "../../my.config";
import Icon from "./icon.astro";
---

<footer class="bg-black text-white py-6 text-center">
  <div class="flex items-center justify-center gap-6 mb-4">
    <a
      href={config.BLUESKY_LINK}
      target="_blank"
      aria-label="BlueSky"
      class="text-gray-400 hover:text-white"
    >
      <Icon name="bluesky" className="fill-gray-400 w-6 h-6 hover:fill-white text-2xl" />
    </a>
    <a
      href={config.GITHUB_LINK}
      target="_blank"
      aria-label="GitHub"
      class="text-gray-400 hover:text-white"
    >
    <Icon name="github" className="fill-gray-400 w-6 h-6 hover:fill-white text-2xl" />
    </a>
    <a
      href={config.LINKEDIN_LINK}
      target="_blank"
      aria-label="LinkedIn"
      class="text-gray-400 hover:text-white"
    >
    <Icon name="linkedin" className="fill-gray-400 w-6 h-6 hover:fill-white text-2xl" />
    </a>
    <a
      href={config.XBOX_LINK}
      target="_blank"
      aria-label="Xbox"
      class="text-gray-400 hover:text-white"
    >
    <Icon name="xbox" className="fill-gray-400 w-6 h-6 hover:fill-white text-2xl" />
    </a>
    <a
      href=`${config.SITE_ROOT}/rss.xml`
      target="_blank"
      aria-label="RSS Feed"
      class="text-gray-400 hover:text-white"
    >
    <Icon name="rss" className="fill-gray-400 w-6 h-6 hover:fill-white text-2xl" />
    </a>
  </div>
  <p class="text-md">{new Date().getFullYear()} © Steven Thewissen</p>
  <p class="text-sm mx-2 text-gray-400">
    This website runs on Astro, Tailwind, cookies, chocolate, and beer. And
    maybe some limoncello.
  </p>
</footer>
